.Header{
    text-align: center;
    width: 100%;
}

h3{
    background-color: #23b8b7;
    line-height: 70px;
    color: white;
    margin-right: 20px;
    font-weight: 700;
    font-size: 40px;
    padding: 10px;
}

.Logo img{
    height: 150px;
}
